@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    @apply font-sans text-neutral-900 bg-neutral-50;
  }
  h1, h2, h3 {
    @apply font-display;
  }
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition-all duration-200;
  }
  .input {
    @apply w-full px-4 py-2 rounded-lg border border-neutral-200 focus:outline-none focus:ring-2 focus:ring-primary-300;
  }
}
